*{
  margin: 0px ;
  padding: 0px;
}
body{
  background-color: #d8dae2;
}
.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,420px));
  justify-content: center;
  grid-gap: 15px;
  margin-top: 150px;
  
}
.grid-cards{

  height: 420px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  background-color: #fff;
}
.grid-content{
  height: 50%;
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}
.grid-img{
  height: 50%;
}
.grid-img img{
  width: 100%;
  height: 100%;
}
.title{
  color: #ffcb09;

padding: 30px 30px 8px;

font-size: 28px;
font-weight: 700;
font-style: bold;
}
.desc{
  color: rgba(0, 0, 0, .4);

padding: 5px 30px 10px;

font-size: 22px;
font-weight: 400;
font-style: normal;
}
.link{
  color: rgba(0, 0, 0, .4);

font-size: 17px;
font-weight: bold;

padding: 10px 30px ;
}

@media (max-width:1023px) {
  .card1{
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns:auto auto auto;
  
    width: 100vw;
   
    height: 230px;
  
  }
   
  .grid-content{
   
    grid-column-start: 1;
    grid-column-end: 3;
   
    height: 230px;

  }
  
  .grid-img img{
    padding-top: 40px;
    height: 190px;
    
  }
 
}
@media (max-width:610px){
  .card1{
    width: 100vw;
    
  
  }
  .title{
    color: #ffcb09;
  
  padding: 30px 30px 8px;
  
  font-size: 28px;
  font-weight: 700;
  font-style: bold;
  }
  .grid-img img{
    padding-top: 48px;
    height: 205px;
    width: 150px;
  }
}
@media (max-width:527px){

  .grid-img img{
    padding-top: 50px;
    width: 150px;
    height: 180px;
    
  }
}
@media (max-width:500px){
  .grid-img img{
   
    padding-top: 15px;
    width: 150px;
    height: 230px;
    
  }
}
@media (max-width:400px) {
  
}